*{
    margin: 0;
    padding: 0;
}
body{
    background-color: turquoise;
}
.header-container{
    width: 414px;
    background-color: rgb(165, 4, 4);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.header-parte1{
    width: 414px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.header-parte1 img{
    width: 30px;
}
.header-parte1 .btn{
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}