*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 0, 0);
}
.header-container{
    width: 414px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-parte1{
    width: 414px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
 
}
.header-parte1 img{
    width: 30px;
}
.header-parte1 .btn{
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: 5px;
}
.header-parte2{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-pesquisa{
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 7px;
    background-color: transparent;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin: 5px;
}
.header-parte3{
    color: white;
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.main-container{
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: violet;
}
.conteudo-parte1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(121, 119, 50, 0.808);
}
.conteudo-parte1 nav{
    padding: 10px;
}
.conteudo-parte2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(50, 101, 121, 0.808);
}
.conteudo-parte2 img{
    width: 90%;

}